{
  "plugins": [
    [
      "module-resolver",
      {
        "root": "./",
        "alias": {
          "inputs": "./src/inputs",
          "zustand": "./src/zustand",
          "*": ["src/*", "node_modules/*"]
        }
      }
    ]
  ]
}
